target {
    name = "{{ name }}"
    address = "{{ address }}"
{%- if module %}
    module = "{{ module }}"
{%- endif %}
    labels = {
{%- for k, v in labels.items() %}
        "{{ k }}" = "{{ v }}",
{%- endfor %}
    }
}
