stages:
  - build
  - push

{% set tag = helpers.get_version(env) %}
{% set job_discriminator =  helpers.get_job_discriminator(task) %}

bun-build:{{ task.package }}{{ job_discriminator }}:
  stage: build
  image: {{ images.bun }}
  script:
    - cd {{ task.context|default('.') }}
    - bun ci
    - bun pm version {{ tag }} --no-git-tag-version
    - bun --bun run build
    - bun pm pack --destination build
  artifacts:
    paths:
      - build/*.tgz
    expire_in: {{ env['DEFAULT_ARTIFACT_EXPIRY'] }}

{% for registry in task.registries %}
bun-publish{{ job_discriminator }}:{{ registry }}:{{ tag }}:
  stage: push
  image: {{ images.bun }}
  needs:
    - bun-build:{{ task.package }}{{ job_discriminator }}
  {% if helpers.should_use_manual_push(task, env) %}
  when: manual
  {% endif %}
  variables:
    {% if registry == 'gitlab' %}
    BUN_CONFIG_TOKEN: $GITLAB_CR_PASSWORD
    BUN_CONFIG_REGISTRY: $GITLAB_NPM_REPOSITORY_URL
    {% endif %}
  script:
    - bun publish build/* --tolerate-republish -p
{% endfor %}
