stages:
  - build
  - deploy

{% set docker_image = 'registry.gitlab.com/haondt/cicd/registry/docker-deployer:latest' %}

docker-build-deployment-{{ task.target }}:
  stage: build
  image: {{ docker_image }}
  script:
    - cd {{ task.context|default('.') }}
    - python3 /scripts/get_changes.py > changed_services.txt
    - |
      if ! grep -q '[^[:space:]]' changed_services.txt; then
        echo "No changes detected"
        exit 0
      else
        echo "HAS_CHANGES=1" >> report.env
      fi
    - python3 /scripts/build.py $GITLAB_DOCKER_BUILD_ENCRYPTION_KEY
  artifacts:
    paths:
      - build.enc
      - changed_services.txt
    reports:
      dotenv: report.env

docker-deploy-{{ task.target }}:
  stage: deploy
  image: {{ docker_image }}
  needs:
    - docker-build-deployment-{{ task.target }}:
  rules:
    - if: '$HAS_CHANGES'
  script:
    - python3 /scripts/untar.py $GITLAB_DOCKER_BUILD_ENCRYPTION_KEY ./deploy
    - cat changed_services.txt | python3 /scripts/get_containers.py > changed_containers.txt
    - rsync -avz --delete --rsh=ssh -e "ssh -i {{ task.key }}" ./deploy/ {{ task.target }}:/srv/deploy/
