{% for project, project_map in helpers.get_projects(xtra).items() %}
{% set project_config = helpers.get_project_config(xtra, project) %}

{% if project.type == 'docker' %}
docker-build-deployment-{{ project }}:
  stage: deploy
  image: {{ images.docker_deployer_v2 }}
  needs:
    - pipeline: $PARENT_PIPELINE_ID
      job: docker-check-changes
    - pipeline: $ROOT_PIPELINE_ID
      job: generate
  script:
    - python3 pipelines/scripts/docker-deployer/build.py $GITLAB_DOCKER_BUILD_ENCRYPTION_KEY {{ project }}
  artifacts:
    paths:
      - {{ project }}.enc
    expire_in: {{ env['DEFAULT_ARTIFACT_EXPIRY'] }}

{% elif  project.type == 'kubernetes2' %}

docker-build-deployment-{{ project }}:
  stage: deploy
  image: {{ images.docker_deployer_v2 }}
  needs:
    - pipeline: $PARENT_PIPELINE_ID
      job: docker-check-changes
    - pipeline: $ROOT_PIPELINE_ID
      job: generate
  script:
    - python3 pipelines/scripts/docker-deployer/kubernetes/build.py $GITLAB_DOCKER_BUILD_ENCRYPTION_KEY {{ project }}
  artifacts:
    paths:
      - {{ project }}.enc
    expire_in: {{ env['DEFAULT_ARTIFACT_EXPIRY'] }}

{% else %}

{% raise_value_error 'Invalid project type: ' ~ project.type %}

{% endif %}

