{% if task.type == 'docker-build' %}

{% set registry = task.registry|default('docker-hub') %}
{% set registry_section = '' if registry == 'docker-hub' else registry + '/' %}

docker-build-{{ task.image }}:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - >-
        docker build
        -t {{ registry_section + task.repository|default('haondt') + '/' + task.image }}
        -f {{ task.context|default('.') + '/' + task.file|default('Dockerfile') }}
        {{ task.context|default('.') }}

{% endif %}
