stages:
  - build
  - push

{% set docker_image = 'docker:26.0.2' %}

docker-build-{{ task.image }}:
  stage: build
  image: {{ docker_image }}
  script:
    - >-
        docker build
        -t {{ task.image }}
        -f {{ task.context|default('.') + '/' + task.file|default('Dockerfile') }}
        {{ task.context|default('.') }}

{% set tags = ['latest', env.CI_COMMIT_SHORT_SHA] %}
{% if 'CI_COMMIT_TAG' in env and env.CI_COMMIT_TAG|regex_ismatch('^v\\d+\\.\\d+\\.\\d+$') %}
{% set _ = tags.append(env.CI_COMMIT_TAG[1:]) %}
{% endif %}

{% for registry in task.registries %}
{% for tag in tags %}
docker-push:{{ registry }}:{{ tag }}:
  stage: push
  needs:
    - docker-build-{{ task.image }}
  image: {{ docker_image }}
  when: manual
  script:
    {% if registry == 'gitlab' %}
    - echo "$GITLAB_CR_PASSWORD" | docker login $GITLAB_CR_REGISTRY -u $GITLAB_CR_USERNAME --password-stdin
    - docker tag {{ task.image }} {{ env.GITLAB_CR_REGISTRY}}/{{ task.image }}:{{ tag }}
    - docker push {{ env.GITLAB_CR_REGISTRY }}/{{ task.image }}:{{ tag }}
    {% elif registry == 'docker-hub' %}
    - echo "$DOCKER_HUB_PASSWORD" | docker login -u $DOCKER_HUB_USERNAME --password-stdin
    - docker tag {{ task.image }} {{ env.DOCKER_HUB_REPOSITORY }}/{{ task.image }}:{{ tag }}
    - docker push {{ env.DOCKER_HUB_REPOSITORY }}/{{ task.image }}:{{ tag }}
    {% endif %}
{% endfor %}
{% endfor %}
