stages:
  - build
  - push

{% set tag = helpers.get_version(env) %}
{% set job_discriminator = helpers.get_job_discriminator(task) %}
{% set runtime = 'linux-x64' %}

dotnet-build{{ job_discriminator }}:
  stage: build
  image: {{ images.dotnet }}
  script:
    {% for package in task.packages %}
    - dotnet build {{ package.csproj }} -c Release -r {{ runtime }} -p:Version={{ tag }}
    {% endfor %}
  artifacts:
    paths:
      - "**/obj/*"
      - "**/bin/*"

{% for package in task.packages %}
dotnet-pack:{{ helpers.sanitize_csproj(package.csproj) }}{{ job_discriminator }}:
  stage: build
  image: {{ images.dotnet }}
  needs:
    - dotnet-build{{ job_discriminator }}
  script:
    - dotnet pack {{ package.csproj }} --no-build -c Release --runtime {{ runtime }} -p:PackageVersion={{ tag }} -o nugets -p:RuntimeIdentifier={{ runtime }}
  artifacts:
    paths:
      - ./dist
      - "**/bin/*"
{% endfor %}
