stages:
  - build
  - push

{% set tag = helpers.get_version(env) %}
{% set job_discriminator =  helpers.get_job_discriminator(task) %}

python-build:{{ task.package }}{{ job_discriminator }}:
  stage: build
  image: {{ images.python }}
  script:
    - cd {{ task.context|default('.') }}
    {% if 'inject_pyproject_version' in task -%}
    - python3 /scripts/set-pyproject-version.py -f {{ task.inject_pyproject_version|default('pyproject.toml') }} {{ tag }}
    {% endif -%}
    {% if 'inject_metadata_module' in task -%}
    - python3 /scripts/generate-metadata.py -v {{ tag }} > {{ task.inject_metadata_module|default('_metadata.py') }}
    {% endif -%}
    - python3 -m flit build
  artifacts:
    paths:
      - dist/*.whl
      - dist/*.tar.gz

{% for registry in task.registries %}
python-push{{ job_discriminator }}:{{ registry }}:{{ tag }}:
  stage: push
  image: {{ images.python }}
  needs:
    - python-build:{{ task.package }}{{ job_discriminator }}
  {% if helpers.should_use_manual_push(task, env) %}
  when: manual
  {% endif %}
  variables:
    {% if registry == 'testpypi' %}
    TWINE_USERNAME: '__token__'
    TWINE_PASSWORD: $TEST_PYPI_API_TOKEN
    {% elif registry == 'pypi' %}
    TWINE_USERNAME: '__token__'
    TWINE_PASSWORD: $PYPI_API_TOKEN
    {% elif registry == 'gitlab' %}
    TWINE_USERNAME: $GITLAB_CR_USERNAME
    TWINE_PASSWORD: $GITLAB_CR_PASSWORD
    {% endif %}
  script:
    {% if registry == 'testpypi' %}
    - python3 -m twine upload --skip-existing -r testpypi dist/*
    {% elif registry == 'pypi' %}
    - python3 -m twine upload --skip-existing -r pypi dist/*
    {% elif registry == 'gitlab' %}
    - python3 -m twine upload --skip-existing --repository-url $GITLAB_PYPI_REPOSITORY_URL dist/*
    {% endif %}
{% endfor %}
